<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>


    <link   rel="shortcut icon" href="../favicon.ico"  type="image/png" />

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/errorpage.css" media="all" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/creative.min.css" rel="stylesheet">

    <script src="../js/angular.min.js"></script>  


  </head>

  <body  ng-app = "carsApp" ng-controller="carsCtrl">


    <!-- Navigation -->
    <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="../index.php"><i>Saundrya Beauty Care</i></a>
       


       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">

              <a class="nav-link js-scroll-trigger   " href="#"> <font  color="white">About</font></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font  color="white">Services</font>
                
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item " href="">Simple</a>
                <a class="dropdown-item" href="">Makeup</a>
                <a class="dropdown-item" href="">Bridal</a>
                <a class="dropdown-item" href="">Body Care</a>
                <a class="dropdown-item" href="#">Products</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./portfolio.html"><font  color="white">Portfolio</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./contact.html"><font  color="white">Contact</font></a>
            </li>


           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font  color="white">Other</font>
                
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="./feedback.html">Feedback</a>
                <a class="dropdown-item" href="../login.php">Login</a>
                <a class="dropdown-item" href="./contact.html">Contact Us</a>
                <a class="dropdown-item" href=""></a>
                <a class="dropdown-item" href=""></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>




    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3"><br>


        <small></small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="../index.php">Home</a>
        </li>
        <li class="breadcrumb-item active">Products</li>
      </ol>



<div >
      <select ng-model="name">
      <option value=""> Select Name </option>
      <option ng-repeat="x in cars" value = "{{x.name}}"> {{x.name}} </option>
      </select>
      
      
      
      <select ng-model="price">
      <option value=""> Select Price </option>
      <option ng-repeat="x in cars" value = "{{x.price}}"> {{x.price}} </option>
      </select>
    </div>

 <div class="container">



<div >

      <div class="row" >
        <div class="col-lg-4 col-sm-6 portfolio-item"  ng-repeat="car in cars | filter:name | filter:price">
          <div class="card h-70">
            <a href="#"><img class="card-img-top " src="{{car.image}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{car.name}}</a>
              </h4>
              <label>Sr. No</label> <label>{{$index+1}}</label> <br>
              <label>Id:</label> <label>{{car.id}}</label> <br>
              <label>Name:</label><label>{{car.name}}</label> <br>
              <label>Price:</label><label>{{car.price}}</label> <br>
              
            </div>
          </div>
        </div>

     </div> 
</div>

   <!-- Pagination -->
      <div align="center">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div>

</div>

    </div>
    <!-- /.container -->


 <script>
        var app =  angular.module('carsApp',[]);
        app.controller('carsCtrl',function($scope,$http)
        {
            $http(
            { method:"GET",
              url:"../php/productgallary.php"
            }).then(function mySuccess(response){
                $scope.cars = response.data;
            },function myError(response){
                $scope.cars = response.statusText;
            });
        });
        </script>

    


    



<!-- Footer -->
    <footer class="py-3 bg-dark fixed-bottom" >
      <div class="container">
        <div class="icons">
    <p class="left">follow us:</p>
  <ul class="left">
    <li><a href="#"><img src="../img/error/rss.png" alt="" /></a></li>
    <li><a href="#"><img src="../img/error/twt.png" alt="" /></a></li>
    <li><a href="#"><img src="../img/error/plus.png" alt="" /></a></li>
    <li><a href="#"><img src="../img/error/in.png" alt="" /></a></li>
    <li><a href="#"><img src="../img/error/fb.png" alt="" /></a></li>
  </ul>
    <div class="clear"></div>
  </div>
        <p class="m-0 text-right text-white">Copyright &copy; www.unikworld.com 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/creative.min.js"></script>

  </body>

</html>
